@tailwind base;
@tailwind components;
@tailwind utilities;

#font1 {
  font-family: "Playfair Display", serif;
}
#font2 {
  font-family: "Raleway", sans-serif;
}
#font3 {
  font-family: "Libre Franklin", sans-serif;
}
